body {
  padding: 10px 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  cursor: pointer;
}

a:hover,
a:active {
  color: #00B7FF;
  text-decoration: underline;
}

a.danger {
  color: red;
}

.spacing {
  margin-bottom: 20px;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.to-riders {
    display: none;
}

.pre-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -170px 0 0 -120px;
    padding: 20px;
    height: 250px;
    
    -webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 1750ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/*
.pre-loader svg {
    fill: #fff;
}
*/
.hide-all-data {
    display: none;
}

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
