<!--
<div class="row">
    <div class="col-xs-12">
        <h3 class="testing">Test Data Appended: </h3>
    </div>
</div>
   
-->

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h3 class="text-center">Choose location &amp; event:</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <h4 class="text-center">All</h4>
        <button class="center-block btn btn-success all-btn">Display All Events</button>
    </div>
    <div class="col-md-3">
        <h4 class="text-center">Ride</h4>
        <button class="btn btn-primary alberta-btn">Alberta</button>
        <button class="btn btn-primary toronto-btn">Toronto</button>
        <button class="btn btn-primary montreal-btn">Montreal</button>
        <button class="btn btn-primary vancouver-btn">Vancouver</button>
        <button class="btn btn-primary perth-btn">Perth</button>
    </div>
    <div class="col-md-3">
        <h4 class="text-center">OneWalk</h4>
        <button class="btn btn-primary ow-toronto-btn">Toronto</button>
    </div>
    <div class="col-md-3">
        <h4 class="text-center">OneDay</h4>
        <button class="btn btn-primary melbourne-btn">Melbourne</button>
    </div>
</div>
<br/>
<div class="table-responsive all-table">
    <table class="table table-bordered table-hover">
        <tr class="text-center">
            <th>RTCC</th>
            <th class="text-center">RFI (real-time)</th>
            <th class="text-center">RFI (daily)</th>
            <th class="text-center">RDR (real-time)</th>
            <th class="text-center">CRW (real-time)</th>
            <th class="text-center">WLK/DNRS (real-time)</th>
            <th class="text-center">DON$ (real-time)</th>
            <th class="text-center">DON$ (daily)</th>
            <th class="text-center">REG$ (real-time)</th>
            <th class="text-center">REG$ (daily)</th>
        </tr>
        <tr class="data-json"> 
            <td class="koi-blue">
               2018 Alberta RTCC
            </td>
            <td class="ab18-rfi"></td>
            <td class="ab18-rfi-daily"></td>
            <td class="ab18-riders"></td>
            <td class="ab18-crews"></td>
            <td>0</td>
            <td class="ab18-donations"></td>
            <td class="ab18-donations-daily"></td>
            <td class="ab18-regs"></td>
            <td class="ab18-regs-daily"></td>
        </tr>
        <tr class="data-json">
            <td class="koi-blue">
                2018 Montreal RTCC
            </td>
            <td class="mo18-rfi"></td>
            <td class="mo18-rfi-daily"></td>
            <td class="mo18-riders"></td>
            <td class="mo18-crews"></td>
            <td>0</td>
            <td class="mo18-donations"></td>
            <td class="mo18-donations-daily"></td>
            <td class="mo18-regs"></td>
            <td class="mo18-regs-daily"></td>
        </tr>
        <tr class="data-json">
            <td class="koi-blue">
                2018 Perth RTCC
            </td>
            <td class="pr18-rfi"></td>
            <td class="pr18-rfi-daily"></td>
            <td class="pr18-riders"></td>
            <td class="pr18-crews"></td>
            <td>0</td>
            <td class="pr18-donations"></td>
            <td class="pr18-donations-daily"></td>
            <td class="pr18-regs"></td>
            <td class="pr18-regs-daily"></td>
        </tr>
        <tr class="data-json">
            <td class="koi-blue">
                2018 Toronto RTCC
            </td>
            <td class="to18-rfi"></td>
            <td class="to18-rfi-daily"></td>
            <td class="to18-riders"></td>
            <td class="to18-crews"></td>
            <td>0</td>
            <td class="to18-donations"></td>
            <td class="to18-donations-daily"></td>
            <td class="to18-regs"></td>
            <td class="to18-regs-daily"></td>
        </tr>
        <tr class="data-json">
            <td class="koi-blue">
                2018 Vancouver RTCC
            </td>
            <td class="va18-rfi"></td>
            <td class="va18-rfi-daily"></td>
            <td class="va18-riders"></td>
            <td class="va18-crews"></td>
            <td>0</td>
            <td class="va18-donations"></td>
            <td class="va18-donations-daily"></td>
            <td class="va18-regs"></td>
            <td class="va18-regs-daily"></td>
        </tr> 
        <tr class="data-json">
            <td class="koi-blue">
               2018 Melbourne OneDay
            </td>
            <td>0</td>
            <td>0</td>
            <td class="ml18-riders"></td>
            <td>0</td>
            <td>0</td>
            <td class="ml18-donations"></td>
            <td class="ml18-donations-daily"></td>
            <td class="ml18-regs"></td>
            <td class="ml18-regs-daily"></td>
        </tr>
        <tr class="data-json">
            <td class="koi-blue">
                2018 OneWalk Toronto
            </td>
            <td class="owto18-rfi"></td>
            <td class="owto18-rfi-daily"></td>
            <td>0</td>
            <td class="owto18-crews"></td>
            <td class="owto18-walkers"></td>
            <td class="owto18-donations"></td>
            <td class="owto18-donations-daily"></td>
            <td class="owto18-regs"></td>
            <td class="owto18-regs-daily"></td>
        </tr>
        <tr class="data-json"> 
            <td class="koi-blue">
                2017 Alberta RTCC
            </td>
            <td class="ab17-rfi"></td>
            <td class="ab17-rfi-daily">0</td>
            <td class="ab17-riders"></td>
            <td class="ab17-crews"></td>
            <td>0</td>
            <td class="ab17-donations"></td>
            <td class="ab17-donations-daily"></td>
            <td class="ab17-regs"></td>
            <td class="ab17-regs-daily">0</td>
        </tr>
        <tr class="data-json">
            <td class="koi-blue">
                2017 Montreal RTCC
            </td>
            <td class="mo17-rfi"></td>
            <td class="mo17-rfi-daily">0</td>
            <td class="mo17-riders"></td>
            <td class="mo17-crews"></td>
            <td>0</td>
            <td class="mo17-donations"></td>
            <td class="mo17-donations-daily"></td>
            <td class="mo17-regs"></td>
            <td class="mo17-regs-daily">0</td>
        </tr>
        <tr class="data-json">
            <td class="koi-blue">
                2018 Perth RTCC
            </td>
            <td class="pr17-rfi"></td>
            <td class="pr17-rfi-daily">0</td>
            <td class="pr17-riders"></td>
            <td class="pr17-crews"></td>
            <td>0</td>
            <td class="pr17-donations"></td>
            <td class="pr17-donations-daily"></td>
            <td class="pr17-regs"></td>
            <td class="pr17-regs-daily">0</td>
        </tr>
        <tr class="data-json">
            <td class="koi-blue">
                2017 Toronto RTCC
            </td>
            <td class="to17-rfi"></td>
            <td class="to17-rfi-daily">0</td>
            <td class="to17-riders"></td>
            <td class="to17-crews"></td>
            <td>0</td>
            <td class="to17-donations"></td>
            <td class="to17-donations-daily"></td>
            <td class="to17-regs"></td>
            <td class="to17-regs-daily">0</td>
        </tr>
        <tr class="data-json">
            <td class="koi-blue">
                2017 Vancouver RTCC
            </td>
            <td class="va17-rfi"></td>
            <td class="va17-rfi-daily">0</td>
            <td class="va17-riders"></td>
            <td class="va17-crews"></td>
            <td>0</td>
            <td class="va17-donations"></td>
            <td class="va17-donations-daily"></td>
            <td class="va17-regs"></td>
            <td class="va17-regs-daily">0</td>
        </tr>
        <tr class="data-json">
            <td class="koi-blue">
               2017 Melbourne OneDay
            </td>
            <td>0</td>
            <td>0</td>
            <td class="ml17-riders"></td>
            <td>0</td>
            <td>0</td>
            <td class="ml17-donations"></td>
            <td class="ml17-donations-daily"></td>
            <td class="ml17-regs"></td>
            <td class="ml17-regs-daily">0</td>
        </tr>
        <tr class="data-json">
            <td class="koi-blue">
                2017 OneWalk Toronto
            </td>
            <td class="owto17-rfi"></td>
            <td class="owto17-rfi-daily">0</td>
            <td>0</td>
            <td class="owto17-crews"></td>
            <td class="owto17-walkers"></td>
            <td class="owto17-donations"></td>
            <td class="owto17-donations-daily"></td>
            <td class="owto17-regs"></td>
            <td class="owto17-regs-daily">0</td>
        </tr>
    </table>
</div>

<!-- BEGIN Toronto Table -->

<div class="table-responsive gradient-tbl to-table">
   <h1>Ride Toronto</h1>
  <div class="tbl-header">
    <table class="gradient-tbl" cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
            <th class="text-center">Year</th>
            <th class="text-center">RFI (real-time)</th>
            <th class="text-center">RFI (daily)</th>
            <th class="text-center">CRW</th>
            <th class="text-center">RDR</th>
            <th class="text-center">DON$ (real-time)</th>
            <th class="text-center">DON$ (daily)</th>
            <th class="text-center">REG$ (real-time)</th>
            <th class="text-center">REG$ (daily)</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead class="tbl-hdr-mobile">
        <tr>
            <th class="text-center">Year</th>
            <th class="text-center">RFI (real-time)</th>
            <th class="text-center">RFI (daily)</th>
            <th class="text-center">CRW</th>
            <th class="text-center">RDR</th>
            <th class="text-center">DON$ (real-time)</th>
            <th class="text-center">DON$ (daily)</th>
            <th class="text-center">REG$ (real-time)</th>
            <th class="text-center">REG$ (daily)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2018</td>
          <td class="to18-rfi"></td>
          <td class="to18-rfi-daily"></td>
          <td class="to18-crews"></td>
          <td class="to18-riders"></td>
          <td class="to18-donations"></td>
          <td class="to18-donations-daily"></td>
          <td class="to18-regs"></td>
          <td class="to18-regs-daily"></td>
        </tr>
        <tr>
          <td>2017</td>
          <td class="to17-rfi"></td>
          <td class="to17-rfi-daily">0</td>
          <td class="to17-crews"></td>
          <td class="to17-riders"></td>
          <td class="to17-donations"></td>
          <td class="to17-donations-daily"></td>
          <td class="to17-regs"></td>
          <td class="to17-regs-daily">0</td>
        </tr>
        <tr>
          <td>2016</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
        </tr>
        <tr>
          <td>2014</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
        </tr>
        <tr>
          <td>2013</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
        </tr>
        <tr>
          <td>2012</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
        </tr>
        <tr>
          <td>2011</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
        </tr>
        <tr>
          <td>2010</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- BEGIN Alberta Table -->

<div class="table-responsive gradient-tbl ab-table">
   <h1>Ride Alberta</h1>
  <div class="tbl-header">
    <table class="gradient-tbl" cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th class="text-center">Year</th>
          <th class="text-center">RFI (real-time)</th>
          <th class="text-center">RFI (daily)</th>
          <th class="text-center">CRW</th>
          <th class="text-center">RDR</th>
          <th class="text-center">DON$ (real-time)</th>
          <th class="text-center">DON$ (daily)</th>
          <th class="text-center">REG$ (real-time)</th>
          <th class="text-center">REG$ (daily)</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead class="tbl-hdr-mobile">
        <tr>
          <th class="text-center">Year</th>
          <th class="text-center">RFI (real-time)</th>
          <th class="text-center">RFI (daily)</th>
          <th class="text-center">CRW</th>
          <th class="text-center">RDR</th>
          <th class="text-center">DON$ <br>(real-time)</th>
          <th class="text-center">DON$ <br>(daily)</th>
          <th class="text-center">REG$ <br>(real-time)</th>
          <th class="text-center">REG$ <br>(daily)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2018</td>
          <td class="ab18-rfi"></td>
          <td class="ab18-rfi-daily"></td>
          <td class="ab18-crews"></td>
          <td class="ab18-riders"></td>
          <td class="ab18-donations"></td>
          <td class="ab18-donations-daily"></td>
          <td class="ab18-regs"></td>
          <td class="ab18-regs-daily"></td>
        </tr>
        <tr>
          <td>2017</td>
          <td class="ab17-rfi"></td>
          <td class="ab17-rfi-daily">0</td>
          <td class="ab17-crews"></td>
          <td class="ab17-riders"></td>
          <td class="ab17-donations"></td>
          <td class="ab17-donations-daily"></td>
          <td class="ab17-regs"></td>
          <td class="ab17-regs-daily">0</td>
        </tr>
        <tr>
          <td>2016</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
        </tr>
        <tr>
          <td>2014</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
        </tr>
        <tr>
          <td>2013</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
        </tr>
        <tr>
          <td>2012</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
        </tr>
        <tr>
          <td>2011</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
        </tr>
        <tr>
          <td>2010</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- BEGIN Montreal Table -->

<div class="table-responsive gradient-tbl mo-table">
   <h1>Ride Montreal</h1>
  <div class="tbl-header">
    <table class="gradient-tbl" cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th class="text-center">Year</th>
          <th class="text-center">RFI (real-time)</th>
          <th class="text-center">RFI (daily)</th>
          <th class="text-center">CRW</th>
          <th class="text-center">RDR</th>
          <th class="text-center">DON$ (real-time)</th>
          <th class="text-center">DON$ (daily)</th>
          <th class="text-center">REG$ (real-time)</th>
          <th class="text-center">REG$ (daily)</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead class="tbl-hdr-mobile">
        <tr>
          <th class="text-center">Year</th>
          <th class="text-center">RFI (real-time)</th>
          <th class="text-center">RFI (daily)</th>
          <th class="text-center">CRW</th>
          <th class="text-center">RDR</th>
          <th class="text-center">DON$ (real-time)</th>
          <th class="text-center">DON$ (daily)</th>
          <th class="text-center">REG$ (real-time)</th>
          <th class="text-center">REG$ (daily)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2018</td>
          <td class="mo18-rfi"></td>
          <td class="mo18-rfi-daily"></td>
          <td class="mo18-crews"></td>
          <td class="mo18-riders"></td>
          <td class="mo18-donations"></td>
          <td class="mo18-donations-daily"></td>
          <td class="mo18-regs"></td>
          <td class="mo18-regs-daily"></td>
        </tr>
        <tr>
          <td>2017</td>
          <td class="mo17-rfi"></td>
          <td class="mo17-rfi-daily">0</td>
          <td class="mo17-crews"></td>
          <td class="mo17-riders"></td>
          <td class="mo17-donations"></td>
          <td class="mo17-donations-daily"></td>
          <td class="mo17-regs"></td>
          <td class="mo17-regs-daily">0</td>
        </tr>
        <tr>
          <td>2016</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
        </tr>
        <tr>
          <td>2014</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
        </tr>
        <tr>
          <td>2013</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
        </tr>
        <tr>
          <td>2012</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
        </tr>
        <tr>
          <td>2011</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
        </tr>
        <tr>
          <td>2010</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- BEGIN Vancouver Table -->

<div class="table-responsive gradient-tbl va-table">
   <h1>Ride Vancouver</h1>
  <div class="tbl-header">
    <table class="gradient-tbl" cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th class="text-center">Year</th>
          <th class="text-center">RFI (real-time)</th>
          <th class="text-center">RFI (daily)</th>
          <th class="text-center">CRW</th>
          <th class="text-center">RDR</th>
          <th class="text-center">DON$ (real-time)</th>
          <th class="text-center">DON$ (daily)</th>
          <th class="text-center">REG$ (real-time)</th>
          <th class="text-center">REG$ (daily)</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead class="tbl-hdr-mobile">
        <tr>
          <th class="text-center">Year</th>
          <th class="text-center">RFI (real-time)</th>
          <th class="text-center">RFI (daily)</th>
          <th class="text-center">CRW</th>
          <th class="text-center">RDR</th>
          <th class="text-center">DON$ (real-time)</th>
          <th class="text-center">DON$ (daily)</th>
          <th class="text-center">REG$ (real-time)</th>
          <th class="text-center">REG$ (daily)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2018</td>
          <td class="va18-rfi"></td>
          <td class="va18-rfi-daily"></td>
          <td class="va18-crews"></td>
          <td class="va18-riders"></td>
          <td class="va18-donations"></td>
          <td class="va18-donations-daily"></td>
          <td class="va18-regs"></td>
          <td class="va18-regs-daily"></td>
        </tr>
        <tr>
          <td>2017</td>
          <td class="va17-rfi"></td>
          <td class="va17-rfi-daily">0</td>
          <td class="va17-crews"></td>
          <td class="va17-riders"></td>
          <td class="va17-donations"></td>
          <td class="va17-donations-daily"></td>
          <td class="va17-regs"></td>
          <td class="va17-regs-daily">0</td>
        </tr>
        <tr>
          <td>2016</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
        </tr>
        <tr>
          <td>2014</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
        </tr>
        <tr>
          <td>2013</td>
         <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
        </tr>
        <tr>
          <td>2012</td>
         <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
        </tr>
        <tr>
          <td>2011</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
        </tr>
        <tr>
          <td>2010</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<!-- BEGIN Ride Perth Table -->

<div class="table-responsive gradient-tbl pr-table">
   <h1>Ride Perth</h1>
  <div class="tbl-header">
    <table class="gradient-tbl" cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th class="text-center">Year</th>
          <th class="text-center">RFI (real-time)</th>
          <th class="text-center">RFI (daily)</th>
          <th class="text-center">CRW</th>
          <th class="text-center">RDR</th>
          <th class="text-center">DON$ (real-time)</th>
          <th class="text-center">DON$ (daily)</th>
          <th class="text-center">REG$ (real-time)</th>
          <th class="text-center">REG$ (daily)</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead class="tbl-hdr-mobile">
        <tr>
          <th class="text-center">Year</th>
          <th class="text-center">RFI (real-time)</th>
          <th class="text-center">RFI (daily)</th>
          <th class="text-center">CRW</th>
          <th class="text-center">RDR</th>
          <th class="text-center">DON$ (real-time)</th>
          <th class="text-center">DON$ (daily)</th>
          <th class="text-center">REG$ (real-time)</th>
          <th class="text-center">REG$ (daily)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2018</td>
          <td class="pr18-rfi"></td>
          <td class="pr18-rfi-daily"></td>
          <td class="pr18-crews"></td>
          <td class="pr18-riders"></td>
          <td class="pr18-donations"></td>
          <td class="pr18-donations-daily"></td>
          <td class="pr18-regs"></td>
          <td class="pr18-regs-daily"></td>
        </tr>
        <tr>
          <td>2017</td>
          <td class="pr17-rfi"></td>
          <td class="pr17-rfi-daily">0</td>
          <td class="pr17-crews"></td>
          <td class="pr17-riders"></td>
          <td class="pr17-donations"></td>
          <td class="pr17-donations-daily"></td>
          <td class="pr17-regs"></td>
          <td class="pr17-regs-daily">0</td>
        </tr>
        <tr>
          <td>2016</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
        </tr>
        <tr>
          <td>2014</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
        </tr>
        <tr>
          <td>2013</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
        </tr>
        <tr>
          <td>2012</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
        </tr>
        <tr>
          <td>2011</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
        </tr>
        <tr>
          <td>2010</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<!-- BEGIN OneWalk Toronto Table -->

<div class="table-responsive gradient-tbl ow-to-table">
   <h1>OneWalk Toronto</h1>
  <div class="tbl-header">
    <table class="gradient-tbl" cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th class="text-center">Year</th>
          <th class="text-center">WLK (total)</th>
          <th class="text-center">NightWlk</th>
          <th class="text-center">2dayWlk</th>
          <th class="text-center">15kmWlk</th>
          <th class="text-center">25kmWlk</th>
          <th class="text-center">40kmWlk</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead class="tbl-hdr-mobile">
        <tr>
          <th class="text-center">Year</th>
          <th class="text-center">WLK (total)</th>
          <th class="text-center">NightWlk</th>
          <th class="text-center">2dayWlk</th>
          <th class="text-center">15kmWlk</th>
          <th class="text-center">25kmWlk</th>
          <th class="text-center">40kmWlk</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2018</td>
          <td class="owto18-walkers"></td>
          <td class="owto18-night"></td>
          <td class="owto18-2day"></td>
          <td class="owto18-15km"></td>
          <td class="owto18-25km"></td>
          <td class="owto18-40km"></td>
        </tr>
        <tr>
          <td>2017</td>
          <td class="owto17-walkers"></td>
          <td class="owto17-night">0</td>
          <td class="owto17-2day">0</td>
          <td class="owto17-15km"></td>
          <td class="owto17-25km"></td>
          <td class="owto17-40km"></td>
        </tr>
        <tr>
          <td>2016</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
        </tr>
        <tr>
          <td>2014</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
        </tr>
        <tr>
          <td>2013</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
        </tr>
        <tr>
          <td>2012</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
        </tr>
        <tr>
          <td>2011</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
        </tr>
        <tr>
          <td>2010</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="table-responsive gradient-tbl ow-to-table">
   <h1>OneWalk Toronto</h1>
  <div class="tbl-header">
    <table class="gradient-tbl" cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th class="text-center">Year</th>
          <th class="text-center">RFI (real-time)</th>
          <th class="text-center">RFI (daily)</th>
          <th class="text-center">CRW</th>
          <th class="text-center">DON$ (real-time)</th>
          <th class="text-center">DON$ (daily)</th>
          <th class="text-center">REG$ (real-time)</th>
          <th class="text-center">REG$ (daily)</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead class="tbl-hdr-mobile">
        <tr>
          <th class="text-center">Year</th>
          <th class="text-center">RFI (real-time)</th>
          <th class="text-center">RFI (daily)</th>
          <th class="text-center">CRW</th>
          <th class="text-center">DON$ (real-time)</th>
          <th class="text-center">DON$ (daily)</th>
          <th class="text-center">REG$ (real-time)</th>
          <th class="text-center">REG$ (daily)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2018</td>
          <td class="owto18-rfi"></td>
          <td class="owto18-rfi-daily"></td>
          <td class="owto18-crews"></td>
          <td class="owto18-donations"></td>
          <td class="owto18-donations-daily"></td>
          <td class="owto18-regs"></td>
          <td class="owto18-regs-daily"></td>
        </tr>
        <tr>
          <td>2017</td>
          <td class="owto17-rfi"></td>
          <td class="owto17-rfi-daily">0</td>
          <td class="owto17-crews"></td>
          <td class="owto17-donations"></td>
          <td class="owto17-donations-daily"></td>
          <td class="owto17-regs"></td>
          <td class="owto17-regs-daily">0</td>
        </tr>
        <tr>
          <td>2016</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
        </tr>
        <tr>
          <td>2014</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
        </tr>
        <tr>
          <td>2013</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
        </tr>
        <tr>
          <td>2012</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
        </tr>
        <tr>
          <td>2011</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
        </tr>
        <tr>
          <td>2010</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- BEGIN OneDay Melbourne Table -->

<div class="table-responsive gradient-tbl ml-table">
   <h1>OneDay Melbourne</h1>
  <div class="tbl-header">
    <table class="gradient-tbl" cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th class="text-center">Year</th>
          <th class="text-center">RFI (real-time)</th>
          <th class="text-center">RFI (daily)</th>
          <th class="text-center">CRW</th>
          <th class="text-center">RDR</th>
          <th class="text-center">DON$ (real-time)</th>
          <th class="text-center">DON$ (daily)</th>
          <th class="text-center">REG$ (real-time)</th>
          <th class="text-center">REG$ (daily)</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead class="tbl-hdr-mobile">
        <tr>
          <th class="text-center">Year</th>
          <th class="text-center">RFI (real-time)</th>
          <th class="text-center">RFI (daily)</th>
          <th class="text-center">CRW</th>
          <th class="text-center">RDR</th>
          <th class="text-center">DON$ (real-time)</th>
          <th class="text-center">DON$ (daily)</th>
          <th class="text-center">REG$ (real-time)</th>
          <th class="text-center">REG$ (daily)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2018</td>
          <td class="ml18-rfi">0</td>
          <td class="ml18-rfi-daily">0</td>
          <td class="ml18-crews">0</td>
          <td class="ml18-riders"></td>
          <td class="ml18-donations"></td>
          <td class="ml18-donations-daily"></td>
          <td class="ml18-regs"></td>
          <td class="ml18-regs-daily"></td>
        </tr>
        <tr>
          <td>2017</td>
          <td class="ml17-rfi">0</td>
          <td class="ml17-rfi-daily">0</td>
          <td class="ml17-crews">0</td>
          <td class="ml17-riders"></td>
          <td class="ml17-donations"></td>
          <td class="ml17-donations-daily"></td>
          <td class="ml17-regs"></td>
          <td class="ml17-regs-daily">0</td>
        </tr>
        <tr>
          <td>2016</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
        </tr>
        <tr>
          <td>2014</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
        </tr>
        <tr>
          <td>2013</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
        </tr>
        <tr>
          <td>2012</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
        </tr>
        <tr>
          <td>2011</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
        </tr>
        <tr>
          <td>2010</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
