<div class="table-responsive gradient-tbl">
   <h1>Ride Perth</h1>
  <div class="tbl-header">
    <table class="gradient-tbl" cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th class="text-center">Year</th>
          <th class="text-center">RFI (real-time)</th>
          <th class="text-center">RFI (daily)</th>
          <th class="text-center">CRW</th>
          <th class="text-center">RDR</th>
          <th class="text-center">DON$ (real-time)</th>
          <th class="text-center">DON$ (daily)</th>
          <th class="text-center">REG$ (real-time)</th>
          <th class="text-center">REG$ (daily)</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead class="tbl-hdr-mobile">
        <tr>
          <th class="text-center">Year</th>
          <th class="text-center">RFI (real-time)</th>
          <th class="text-center">RFI (daily)</th>
          <th class="text-center">CRW</th>
          <th class="text-center">RDR</th>
          <th class="text-center">DON$ (real-time)</th>
          <th class="text-center">DON$ (daily)</th>
          <th class="text-center">REG$ (real-time)</th>
          <th class="text-center">REG$ (daily)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2018</td>
          <td class="pr18-rfi"></td>
          <td class="pr18-rfi-daily"></td>
          <td class="pr18-crews"></td>
          <td class="pr18-riders"></td>
          <td class="pr18-donations"></td>
          <td class="pr18-donations-daily"></td>
          <td class="pr18-regs"></td>
          <td class="pr18-regs-daily"></td>
        </tr>
        <tr>
          <td>2017</td>
          <td class="pr17-rfi"></td>
          <td class="pr17-rfi-daily">0</td>
          <td class="pr17-crews"></td>
          <td class="pr17-riders"></td>
          <td class="pr17-donations"></td>
          <td class="pr17-donations-daily"></td>
          <td class="pr17-regs"></td>
          <td class="pr17-regs-daily">0</td>
        </tr>
        <tr>
          <td>2016</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
        </tr>
        <tr>
          <td>2014</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
        </tr>
        <tr>
          <td>2013</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
        </tr>
        <tr>
          <td>2012</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
        </tr>
        <tr>
          <td>2011</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
        </tr>
        <tr>
          <td>2010</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
          <td>Coming soon</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
