<header class="row">
    <nav class="col-md-8 col-md-offset-2">
        <ul class="nav nav-pills">
            <a *ngIf="!isLoggedIn()" class="navbar-brand" href="/"><img src="/img/koi_logo_v2.svg" alt="Koi Logo"> version: 1.0</a>
            <a *ngIf="isLoggedIn()" class="navbar-brand" href="/alltables"><img src="/img/koi_logo_v2.svg" alt="Koi Logo"> version: 1.0</a>
<!--             <li routerLinkActive="active" *ngIf="!isLoggedIn()"><a [routerLink]="['/auth']">Sign Up / Sign In</a></li> -->
            <li routerLinkActive="active" *ngIf="!isLoggedIn()"><a [routerLink]="['/auth']">Sign In</a></li>
            <li routerLinkActive="active" *ngIf="isLoggedIn()"><a [routerLink]="['/alltables']">Home</a></li>
            <li class="logout-btn" *ngIf="isLoggedIn()"><a (click)="onLogout()">Logout</a></li>
        </ul>
    </nav>
</header>